*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9bc60;
}

.row {
    display: flex;
    flex-direction: row;
}

.white {
    background-color: #e8e4e6;
}

.black {
    background-color: #001e1d;
}

.red {
    background-color: #f9bc60;
    animation-name: opacity1;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

@keyframes opacity1 {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

.cell {
    margin: 0;
    padding: 0;
    height: 64px;
    width: 64px;
}

.cell:hover {
    opacity: 0.8;
}

.board {
    background-color: #001e1d;
    padding: 0.5em;
    border-radius: 10px;
}